.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  border: 2px solid white;
  margin: 20px 10px;
  /* align-content: center;*/
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

.container:last-child {
  height: 150px;
}

.home {
  background-color: orange;
  color: white;
  /* align-self: flex-start; */
  flex: 0 1 200px;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px; */
}

.search {
  background-color: green;
  color: white;
  /* align-self: center; */
  flex: 0 1 200px;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px; */
}

.logout {
  background-color: darkorange;
  color: white;
  flex: 0 1 200px;
}

.pip {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
}
.item {
  background-color: lightgray;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
}
.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-face {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pip2 {
  align-self: flex-end;
  align-items: flex-end;
}
.third-face {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pip3 {
  align-self: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fourth-face {
  display: flex;
  justify-content: space-between;
}
.fifth-face {
  display: flex;
  justify-content: space-between;
}
.pip4 {
  justify-content: center;
}
.sixth-face {
  display: flex;
  justify-content: space-between;
}

/* ///////////// second //////////// */

.flex-container {
  display: flex;
  border: 2px solid white;
  margin: 20px 10px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-item {
  height: 50px;
  background-color: #c69aff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  border-radius: 50px;
}

.item1 {
  width: 250px;
  order: 4;
}

.item2 {
  width: 200px;
  order: 3;
}

.item3 {
  width: 150px;
  order: 2;
}

.item4 {
  width: 100px;
  order: 1;
}
